*{
	box-sizing: border-box;
	text-align: center;
}


#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}

#dialogbox{
	display: none;
	position: fixed;
	background: #3d3d3d;
	border-radius:7px; 
	width:400px;
	z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }


#memoBox{
	display: none;
	padding: 10px;
	position: fixed;
	background: pink;
	border-radius: 15px;
	top: 50px;
	left: 50px;
	height: 200px;
	width: 400px;
	resize: both;
	overflow: auto;
}

#memoTitle{
	position: fixed;
	height: 1em;
	width: inherit;
	border: 1px solid;
	border-radius: 15px;
}
#memoCloseButton{
	position: absolute;
	top: 2px;
	right: 4px;
	height: inherit
	border: 1px solid;
	border-radius: 15px;
}
#memoContents{
	width: inherit-20px	;
	height:inherit;
	
}
