@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
*{
	box-sizing: border-box;
	font-family: 'Nanum Gothic';
	font-size: 18px;
	border-radius: 5px;
}

.opaque{
	opacity: 1;
}

table * {
	text-align: center	;
}

input[type="text"] {
	padding: 10px;
	text-align:initial;
	font-size: 20px;
	font-weight:bold;
	border-radius: 10px;
}
input[type="color"] {
	background-color: inherit;
	padding: 0px;
	height: inherit;
}
button {
	background-color:#c0c0c0;
	padding: 10px;
}

.transparentButton {
	opacity: 0.5;
}
.transparentButton:hover {
	opacity: 1;
	font-weight: bold;
}

.tableList {
	
}
.tableList:acitve {
	background-color: darkgray;
}
.tableList:hover {
	background-color: lightblue;
}
.tableList:focus {
	background-color: lightgreen;	
}

.memoBox{
	box-shadow: 0px 2px 2px 1px gray;
	position: fixed;
	background-color: lightpink;
	top: 50px;
	left: 50px;
	min-height: 200px;
	min-width: 200px;
	resize: both;
	overflow:auto;
}
.memoTitle{
	background-color:rgba(100,100,100,0.3);
	position: fixed;
	height: 2em;
	width: inherit;
}
.memoColorButton{
	position: absolute;
	height: inherit;
	top: 0px;
	right: 10%;
}
.memoCloseButton{
	text-align: center;
	position: absolute;
	height: inherit;
	line-height: 2em;
	width: 10%;
	right: 0px;
	top: 0px;
}
.memoContents{
	text-align: left;
	text-indent: 1em;
	position: absolute;
	width: 100%;
	height: auto;
	top: 2em;
	bottom: 10px;
	overflow: vertical;	
}

#inputBox {
	position: fixed;
	top:8px;
	left:8px;
	background-color: lightblue;
	padding: 5px;
	height: 60px;
	width: 400px;
	overflow: hidden;
	transition: width .1s linear;
}
#insertButton {
	width: 20%;
}
#inputArea {
	width: 65%;
}
#hideInputBoxButton {
	position:relative;
}